<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
        {#bundle /}
</head>
<body>
<form action="/api/register" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit">Register</button>
</form>
</body>
</html>
